.container{
    position:relative;

}

.image{
    position: absolute;

}

.avatar{
    position: absolute;
    top: 10px;
    right: 10px;
}
.information{
    background-image: linear-gradient(#00000000,#00000099);
    position: absolute;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
    font-size: 18px;
}

.cardapioInformationContainer{
    background-image: linear-gradient(#00000000,#00000099);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
    font-size: 18px;
}